/*All images used belong to:

Markus Spiske - https://500px.com/markusspiske (Links to an external site.)Links to an external site. 

Yinan Chen - https://500px.com/webmaster85 (Links to an external site.)Links to an external site. 

Fahim Akhter - https://500px.com/fahimakhter (Links to an external site.)Links to an external site. */

html, body, main {
    height: 100%;
}

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height:1.5;
}


.images {
    width: 90%;
    float:left;
    list-style: none;
    margin-bottom: .5%;
    margin-top: .5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    
}
 li {
    margin-top:5%;
    margin-bottom: 5%;
    width: 100%;
    padding: .5% 5% .5% 5%;
    overflow: hidden;
    float:left;   
}
.images li {
    width:90;   
}


 .images li:hover {
 transform: rotate(360deg);
 transition: transform 0.2s ease-in-out;
 z-index:20;
   
}


@media screen and (max-width: 600px){
   li {
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
    
    li {
        width: 50%;
        
    } 

}
    @media screen and (min-width: 1200px) {
        
     li { 
         width:25%;
        }
    }
 
    


@media all and (max-width: 700px){
    .one{
        content: url(../img/canyon.jpg);
    }
    .two{
        content: url(../img/stag3.jpg);
    }
    .three {
        content: url(../img/carrots3.jpg);
    }
    .four {
        content: url(../img/crowd2.jpg);
    }
    .five {
        content: url(../img/gui3.jpg);
    }
    .six {
        content: url(../img/lake3.jpg);
    }
    .seven {
        content: url(../img/rock3.jpg);
    }
}

@media screen and (min-width: 700px) and (max-width:1500px){
    .one {
        content: url(../img/can2.jpg);
    }
    .two {
        content: url(../img/stag2.jpg);
    }
    .three {
        content: url(../img/carrots2.jpg);
    }
    .four {
        content: url(../img/crowd1.jpg);
    }
    .five {
        content: url(../img/gui2.jpg);
    }
    .six {
        content: url(../img/lake2.jpg);
    }
     .seven {
        content: url(../img/rock2.jpg);
    }
}

@media screen and (min-width: 1500px){
    .one {
        content: url(../img/can1.jpg);
    }
    .two {
        content: url(../img/stage1.jpg);
    }
    .three {
        content: url(../img/carrots.jpg);
    }
    .four {
        content: url(../img/crowd.jpg);
    }
    .five {
        content: url(../img/gui1.jpg);
    }
    .six {
        content: url(../img/lake1.jpg);
    }
     .seven {
        content: url(../img/rock1.jpg);
    }
}



